h1 {
	font-family: 'Pacifico', cursive;
}
a:link {
    color: FireBrick;
    text-decoration: none;
}
a:hover {
    color: IndianRed;
    text-decoration: underline;
}
a:visited {
    color: pink;
    text-decoration: none;
}
a:active {
    color: LightPink;
    text-decoration: underline;
}
body {
	background-image:url(https://i.pinimg.com/originals/7c/7e/a8/7c7ea890594571a81abca3e0579e82a4.jpg);
}
